<footer class="p--2 text--small">

	<div class="grid grid--footer">

    <div class="grid__item">
      <span>&copy; {{ settings.metadata.site_title or "Site Title" }}</span>
    </div>

    {% if settings.metadata.site_email %}
      <div class="grid__item">
        <span>
          <a href="mailto:{{ settings.metadata.site_email }}">{{ settings.metadata.site_email }}</a>
        </span>
      </div>
    {% endif %}

    {% if settings.metadata.site_socials %}
      <div class="grid__item">
        {% for item in settings.metadata.site_socials %}
        <span>
          <a href="{{ item.url }}" target="_blank" rel="noopener">{{ item.label }}</a>
        </span>
        {% endfor %}
      </div>
    {% endif %}

  </div>

</footer>
