


{% if page.url == "/" %}
  <meta property="og:title" content="{{ settings.metadata.seo.site_title or settings.metadata.site_title }}" data-helmet>
  <meta property="og:description" content="{{ settings.metadata.seo.site_description or settings.metadata.site_description }}" data-helmet>
{% else %}
  <meta property="og:title" content="{{ seo.title or title }} ({{ year }})" data-helmet>
  <meta property="og:description" content="{{ share.caption or seo.description or description }}" data-helmet>
  {% if share %}
        {% set ogimage = {"src": share.src} %}
      <meta property="og:image" content="{{ settings.metadata.site_url }}{% generateOGImage ogimage %}">
  {% else %}
      {% set ogimage = {"src": images[0].src} %}
          <meta property="og:image" content="{{ settings.metadata.site_url }}{% generateOGImage ogimage %}">
  {% endif %}
  <meta property="og:image:width" content="1200">
{% endif %}

<meta property="og:type" content="website" data-helmet>
<meta property="og:site_name" content="{{ settings.metadata.site_title }}" data-helmet>

{% set pageURL = settings.metadata.site_url + page.url %}
<meta property="og:url" content="{{ pageURL }}" data-helmet>

<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image" />
